* {
  margin: 0;
  padding: 0;
}
.header {
  width: 100vw;
  height: 44px;
  display: flex;

  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 24px;
  font-weight: 400;
  margin-top: 8px;
  background-color: white;
}
#logoapple {
  width: 30px;
  height: 44px;
  background-image: url(./picturesA/Applelogo.png);
  display: flex;
  background-size: cover;
}
#logosearch {
  width: 30px;
  height: 44px;
  background-image: url(./picturesA/searchlogo.png);
  display: flex;
  background-size: cover;
}
#logoshopping {
  width: 30px;
  height: 44px;
  background-image: url(./picturesA/shoppinlogo.png);
  display: flex;
  background-size: cover;
}
#header2 {
  width: 100vw;
  height: 52px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  align-items: center;
  color: #1d1d1f;
}

#background1 {
  width: 100vw;
  height: 692px;
  display: flex;
  background-image: url(./picturesA/backgroundsector1.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  padding-top: 55px;
}
.containerbodytext {
  color: white;
  width: 405px;
  height: 172px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.buttonlearn {
  width: 123px;
  height: 44px;
  background-color: #0071e3;
  display: flex;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}
.buttonb {
  width: 207px;
  height: 44px;
  display: flex;
  gap: 16px;
  margin-top: 20px;
}
.buttonbuy {
  width: 68px;
  height: 44px;
  border: 1px solid #0071e3;
  border-radius: 22px;
  color: #0071e3;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 16px;
}
#buttonlearn {
  width: 123px;
  height: 44px;
  background-color: white;
  display: flex;
  border-radius: 22px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
}

#background2 {
  width: 100vw;
  height: 692px;
  display: flex;
  background: url(./picturesA/backgroundsector2.jpg) no-repeat center center;

  justify-content: center;
  margin-top: 12px;
  padding-top: 55px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#background3 {
  width: 100vw;
  height: 692px;
  display: flex;
  background: url(./picturesA/backgroundsector3.jpg) no-repeat center center;

  justify-content: center;
  margin-top: 12px;
  padding-top: 55px;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#buttongift {
  width: 114px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 16px;
  color: white;
}
#containerbodytext {
  width: 405px;
  height: 164px;
  display: flex;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 446px;
}

#background4 {
  width: 100vw;
  height: 580px;
  display: flex;
  background-size: cover;
  justify-content: center;
  gap: 12px;

  background-size: cover;
  margin-top: 12px;
}
#pic1 {
  width: 50%;
  height: 580px;
  background: url(./picturesA/ipad.jpg);
  display: flex;
  background-size: cover;

  flex-direction: column;
  align-items: center;
}
#pic1back {
  width: 430px;
  height: 33px;
  display: flex;
  background-image: url(./picturesA/ipadair2222.png);
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-position: center;
}
#pic2 {
  width: 50%;
  height: 580px;
  background: url(./picturesA/airpods.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.back4text {
  font-size: 18px;
  color: #1d1d1f;
}
.backgroundtext {
  width: 430px;
  height: 146px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 58px;
}
#pic2text {
  width: 370px;
  height: 164px;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 318px;
}
#background5 {
  width: 100vw;
  height: 580px;
  display: flex;
  gap: 12px;

  background-size: cover;
  margin-top: 12px;
}
#pic3 {
  width: 50%;
  height: 580px;
  background: url(./picturesA/iwatch.jpg);
  display: flex;
  background-size: cover;

  justify-content: center;
  background-position: center;
}
#pic3text {
  width: 322px;
  height: 146px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 58px;
}
#pic3back{
    display: flex;
    background-size: cover;
    gap: 8px;
}

#pic4 {
  width: 50%;
  height: 580px;
  background: url(./picturesA/imac.jpg);
  display: flex;
  background-size: cover;
}
#background6 {
  width: 100vw;
  height: 580px;
  display: flex;
  gap: 12px;

  background-size: cover;
  margin-top: 12px;
}
#pic5 {
  width: 50%;
  height: 580px;
  background: url(./picturesA/iphone.jpg);
  display: flex;
}
#pic6 {
  width: 50%;
  height: 580px;
  background: url(./picturesA/card.jpg);
  display: flex;
}
#background7 {
  width: 3782px;
  height: 668px;
  display: flex;
  gap: 16px;
  margin-top: 12px;
}
#pic7 {
  width: 1250px;
  height: 668px;
  background: url(./picturesA/disclaimer.jpg);
  display: flex;
}
#pic8 {
  width: 1250px;
  height: 668px;
  background: url(./picturesA/flymetomoon.jpg);
  display: flex;
}
#pic9 {
  width: 1250px;
  height: 668px;
  background: url(./picturesA/shrinking.jpg);
  display: flex;
}

#background8 {
  width: 1920px;
  height: 292px;
  display: flex;
  background-size: cover;
  gap: 16px;
}
#pic10 {
  width: 417px;
  height: 236px;
  background: url(./picturesA/pic10.jpg);
}
#pic11 {
  width: 417px;
  height: 236px;
  background-color: #1b2632;
  display: flex;
}
#pic11background {
  width: 196px;
  height: 196px;
  background-image: url(./picturesA/pic11.jpg);
  background-size: cover;
  margin-top: 20px;
  margin-left: 15px;
}

#pic12 {
  width: 417px;
  height: 236px;
  background: url(./picturesA/pic12.jpg);
}
#pic13 {
  width: 417px;
  height: 236px;
  background: url(./picturesA/pic13.jpg);
}
#pic14 {
  width: 417px;
  height: 236px;
  background: url(./picturesA/pic14.jpg);
}
